.header {
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    height: 25rem;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.newTaskForm {
    position: absolute;
    bottom: -2.7rem;
    width: 100%;
    max-width: 55%;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    height: 100%;
    align-items: flex-end;
}

.newTaskForm input {
    height: 5.4rem;
    flex: 1;
    color: #fff;
    background: #262626;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    padding: 0 1.6rem;
    font-size: 1.6rem;
}

.newTaskForm input:focus {
    outline: none;
}

.newTaskForm input::placeholder {
    letter-spacing: 1.5px;
}

.newTaskForm button {
    height: 5.4rem;
    padding: 0 2.4rem;
    background: #FD0693;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.6px;
}

