@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #191919;
  color: #f2f2f2;
  min-height: 100vh;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}