.tasks {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 0rem;
    width: 100%;
    max-width: 50%;
    margin: 0px auto;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 32rem;
}

